@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight';
  font-weight: 600;
  text-align: center;
  transition: 0.35s ease;
}

html, body, #root {
  height: 100%;
  width: 100%;
}